@import "tailwindcss";
.responsive-icon {
  width: 25px;
}
.mockup-img {
  width: 700px;
  margin-left: -200px;
}
.grid-container {
  display: grid;
  justify-content: center;
  align-items: center;
  place-items: center; /* Ensures both horizontal & vertical centering */
  grid-template-columns: repeat(1, 1fr);
  padding: 2.5rem 1.25rem 1rem;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  /* Medium screens */
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 2.5rem 2rem 1rem;
    gap: 2rem;
  }
}

@media (min-width: 1024px) {
  /* Large screens */
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}

@media (max-width: 600px) {
  .responsive-icon {
    width: 20px;
  }

  .mockup-img {
    width: 500px;
    margin-left: -100px;
  }
}

@media (max-width: 960px) {
  .responsive-icon {
    width: 15px;
  }

  .mockup-img {
    width: 400px;
    margin-left: -100px;
  }
}
